In [10]:
import sqlite3
import pandas as pd  # type: ignore

In [11]:
def load_data():
    """Load data."""
    conn = sqlite3.connect(":memory:")
    cur = conn.cursor()

    with open("../tests/create_tables.sql", encoding="utf-8") as file:
        cur.executescript(file.read())

    return conn, cur

In [13]:
expected = {
    "strftime('%Y', c23)": {0: "2016", 1: "2017", 2: "2018", 3: "2019"},
    "avg(c21)": {
        0: 564.48,
        1: 515.16,
        2: 557.56,
        3: 551.00,
    },
}
expected

{"strftime('%Y', c23)": {0: '2016', 1: '2017', 2: '2018', 3: '2019'},
 'avg(c21)': {0: 564.48, 1: 515.16, 2: 557.56, 3: 551.0}}

In [12]:
conn, _ = load_data()
with open("pregunta_08.sql", encoding="utf-8") as file:
    query = file.read()
result = pd.read_sql_query(query, conn).to_dict()
result

{'YEAR': {0: '2016', 1: '2017', 2: '2018', 3: '2019'},
 'round(AVG(c21),2)': {0: 564.48, 1: 515.16, 2: 557.56, 3: 551.0}}

In [14]:
# Pregunta 10
expected = {
    "K1": {0: 29},
    "c21": {0: 101.11},
    "c22": {0: 100},
    "c23": {0: "2017-11-17"},
    "c24": {0: 0.42},
    "c25": {0: "MV-CB"},
}
expected

{'K1': {0: 29},
 'c21': {0: 101.11},
 'c22': {0: 100},
 'c23': {0: '2017-11-17'},
 'c24': {0: 0.42},
 'c25': {0: 'MV-CB'}}

In [18]:
# Pregunta 10

conn, _ = load_data()
with open("pregunta_10.sql", encoding="utf-8") as file:
    query = file.read()
result = pd.read_sql_query(query, conn).to_dict()
result

{'K0': {0: 'A', 1: 'C', 2: 'D', 3: 'F', 4: 'I'},
 'c01': {0: 5000, 1: 1000, 2: 4000, 3: 2000, 4: 3000},
 'c02': {0: 900, 1: 600, 2: 600, 3: 300, 4: 300},
 'c03': {0: 'NMNJL', 1: 'LMMML', 2: 'PJLJL', 3: 'NNPJO', 4: 'PPPPL'},
 'c04': {0: 0.4, 1: 0.2, 2: 0.4, 3: 0.3, 4: 0.3}}

In [27]:
result == expected

False

In [21]:
# Pregunta 11

conn, _ = load_data()
with open("pregunta_11.sql", encoding="utf-8") as file:
    query = file.read()
result = pd.read_sql_query(query, conn).to_dict()
result

{'COUNT(*)': {0: 6}}

In [29]:
# Pregunta 12

conn, _ = load_data()
with open("pregunta_12.sql", encoding="utf-8") as file:
    query = file.read()
result = pd.read_sql_query(query, conn).to_dict()
result

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'},
 'MAX(c12)': {0: 938.16, 1: 999.72, 2: 822.81, 3: 756.37, 4: 832.44},
 'MIN(c12)': {0: 135.8, 1: 283.4, 2: 267.42, 3: 317.77, 4: 118.77}}

In [26]:
expected = {
    "K0": {0: "A", 1: "B", 2: "C", 3: "D", 4: "E"},
    "MAX(c12)": {0: 938.16, 1: 999.72, 2: 822.81, 3: 756.37, 4: 832.44},
    "MIN(c12)": {0: 135.8, 1: 283.4, 2: 267.42, 3: 317.77, 4: 118.77},
}
expected

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'},
 'MAX(c12)': {0: 938.16, 1: 999.72, 2: 822.81, 3: 756.37, 4: 832.44},
 'MIN(c12)': {0: 135.8, 1: 283.4, 2: 267.42, 3: 317.77, 4: 118.77}}

In [35]:
result == expected

True

In [34]:
# Pregunta 13
conn, _ = load_data()
with open("pregunta_13.sql", encoding="utf-8") as file:
    query = file.read()
result = pd.read_sql_query(query, conn).to_dict()
result

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'},
 'avg(c12)': {0: 476.16, 1: 536.52, 2: 490.83, 3: 709.53, 4: 474.83}}

In [33]:
expected = {
    "K0": {0: "A", 1: "B", 2: "C", 3: "D", 4: "E"},
    "avg(c12)": {
        0: 476.16,
        1: 536.52,
        2: 490.83,
        3: 709.53,
        4: 474.83,
    },
}
expected

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'},
 'avg(c12)': {0: 476.16, 1: 536.52, 2: 490.83, 3: 709.53, 4: 474.83}}